<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sklepik</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page">Produkty</button>
        </li>
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasKoszyk" aria-controls="offcanvasKoszyk">Koszyk ({{basketCount}})</button>
        </li>
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPanel" aria-controls="offcanvasPanel">Panel</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-product (productAdded)="basketComponent.addProduct($event)"></app-product>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasKoszyk" aria-labelledby="offcanvasKoszykLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasKoszykLabel">Koszyk</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-basket (checkoutOrder)="onCheckout()" #basketComponent></app-basket>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPanel" aria-labelledby="offcanvasPanelLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasPanelLabel">Panel</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-panel [masterBasket]="masterBasket"></app-panel>
  </div>
</div>



